<div class="titel">
  <p>{{'about-me.title' | translate}}</p>
</div>
<mat-divider></mat-divider>

<div class="content-center">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" style="background-image: url('./assets/images/i.jpg')"></div>
      <mat-card-title>{{'about-me.card.line1' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'about-me.card.line2' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <div class="content-center">
      <img mat-card-image src="./assets/images/i.jpg" alt="my photo" style="max-width: 300px;">
    </div>
    <mat-card-content>
      <p>{{'about-me.card.footer' | translate}}</p>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider></mat-divider>

<mat-accordion>
  <app-info-panel *ngFor="let config of configs" [config]="config"></app-info-panel>
</mat-accordion>