p {
  padding: 0 .5rem;
}

form {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  padding: 0 2rem;
  width: 50%;
}

.message-control {
  textarea {
    height: 10rem;;
  }
}

@media screen and (max-width: 1000px) {
  mat-form-field {
    padding: 0 2rem;
    width: 90%;
  }
}
