<div class="titel">
  <p>{{'contacts.title' | translate}}</p>
</div>
<mat-divider></mat-divider>

<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>{{'contacts.email' | translate}}</mat-label>
    <input matInput placeholder="max.musterman@examples.com" [formControl]="emailControl">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'contacts.subject' | translate}}</mat-label>
    <input matInput [formControl]="subjectControl">
  </mat-form-field>

  <mat-form-field class="example-full-width message-control" appearance="fill">
    <mat-label>{{'contacts.message' | translate}}</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." [formControl]="messageControl"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading" (click)="sendMessage()">
    <mat-icon *ngIf="!isLoading">send</mat-icon>
    <mat-icon *ngIf="isLoading"><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon>
    <span>{{'contacts.send' | translate}}</span>
  </button>
</form>
