<mat-toolbar color="primary">
  <button mat-icon-button aria-label="toggle menu" (click)="toggleManu()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span>{{ 'header.menu' | translate }}</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menuLang" class="menu-button">
    <mat-icon>language</mat-icon>
    {{langTitle(lang)}}
  </button>
  <mat-menu #menuLang="matMenu">
    <ng-container *ngFor="let lang of langs; let last = last">
      <button mat-menu-item (click)="setLang(lang)" [disabled]="lang==='ru'">
        <mat-icon [svgIcon]="'flag-' + lang"></mat-icon>
        {{langTitle(lang)}}
      </button>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
