<mat-expansion-panel [expanded]="config.expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon mat-list-icon>{{config.icon}}</mat-icon>
      <span class="section-title">{{config.prefix + 'title' | translate}}</span>
    </mat-panel-title>
    <mat-panel-description class="section-title">
     
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-container *ngFor="let i of config?.items">
    <p class="item-title">{{config.prefix + 'item' + i + '.title' | translate}}</p>
    <p [innerHTML]="config.prefix + 'item' + i + '.text'  | translate"></p>
  </ng-container>
</mat-expansion-panel>