<div class="titel">
  <p>{{'repos.title' | translate}}</p>
</div>
<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="c-sharp" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.auth.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.auth.line1' | translate"></p>
      <div class="content-center">
        <img mat-card-image src="./assets/images/auth.jpg" alt="vivasecur" style="width: 90%; max-width: 1000px;">
      </div>
      <p [innerHTML]="'repos.auth.line2' | translate"></p>
      <p [innerHTML]="'repos.auth.line3' | translate"></p>
      <p [innerHTML]="'repos.auth.line4' | translate" class="program"></p>
      <p [innerHTML]="'repos.auth.line5' | translate"></p>
      <p [innerHTML]="'repos.auth.line6' | translate"></p>
      <p [innerHTML]="'repos.auth.line7' | translate"></p>
      <p [innerHTML]="'repos.auth.line8' | translate" class="program"></p>
      <p [innerHTML]="'repos.auth.line9' | translate"></p>
      <p [innerHTML]="'repos.auth.line10' | translate" class="program"></p>
      <p [innerHTML]="'repos.auth.line11' | translate"></p>
      <p [innerHTML]="'repos.auth.line12' | translate"></p>
      <div class="text-center">
        <a href="https://gitlab.com/demo698/authority">https://gitlab.com/demo698/authority</a>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="angular" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.site.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.site.line1' | translate"></p>
      <p [innerHTML]="'repos.site.line2' | translate"></p>
      <ul>
        <li>Angular</li>
        <li>Gitlab (with automated CI/CD pipline for deploying on AWS)</li>
        <li>Angular Material</li>
        <li>AWS (for deploying)</li>
      </ul>
      <p [innerHTML]="'repos.site.line3' | translate"></p>
      <div class="text-center">
        <a href="https://gitlab.com/demo698/eugen.michaels">https://gitlab.com/demo698/eugen.michaels</a>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="go" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.golang.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.golang.line1' | translate"></p>
      <p [innerHTML]="'repos.golang.line2' | translate"></p>
      <div class="text-center">
        <a href="https://gitlab.com/demo698/config">https://gitlab.com/demo698/config</a>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="c-sharp" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.test.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.test.line1' | translate"></p>
      <p [innerHTML]="'repos.test.line2' | translate"></p>
      <p [innerHTML]="'repos.test.line3' | translate"></p>
      <p [innerHTML]="'repos.test.line4' | translate"></p>
      <p [innerHTML]="'repos.test.line5' | translate"></p>
      <div class="content-center">
        <img mat-card-image src="./assets/images/vivasecur.jpg" alt="vivasecur" style="width: 80%; max-width: 700px;">
      </div>
      <p [innerHTML]="'repos.test.line6' | translate"></p>
      <div class="text-center">
        <a href="https://gitlab.com/demo698/vivasecur">https://gitlab.com/demo698/vivasecur</a>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="c-sharp" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.pattern.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.pattern.line1' | translate"></p>
      <div class="text-center">
        <a href="https://gitlab.com/demo698/patterns">https://gitlab.com/demo698/patterns</a>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="rust" mat-list-icon></mat-icon>
        <span class="section-title">{{'repos.rust.title' | translate}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-title"></mat-panel-description>
    </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p [innerHTML]="'repos.rust.line1' | translate"></p>
      <div class="text-center">
        <a href="https://github.com/evm72011/watt">https://github.com/evm72011/watt</a>
      </div>
  </mat-expansion-panel>
</mat-accordion>
