<div class="content">
  <app-banner *ngIf="isBannerVisible$ | async"></app-banner>
  <app-header></app-header>
  <mat-drawer-container class="main-area">
    <mat-drawer #drawer mode="side" [opened]="isMenuOpen$ | async">
      <app-nav-bar></app-nav-bar>
    </mat-drawer>
    <mat-drawer-content style="width: 100%;">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>