<mat-selection-list [multiple]="false" [(ngModel)]="link" [hideSingleSelectionIndicator]="true">
  <mat-list-option *ngFor="let item of navItems" [value]="item.link">
    <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
    <span matListItemTitle>{{ 'nav-bar.' + item.title | translate }}</span>
  </mat-list-option>
</mat-selection-list>
