<div class="content">
  <div class="banner-area">
    <mat-icon svgIcon="flag-ua"></mat-icon>
    <span class="caption">Слава Україні!</span>
  </div>
  <div class="button-area">
    <button mat-icon-button (click)="closeBanner()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
