.content {
  height: 3rem;
  background-color: #8C8C8C;
  display: flex;
  justify-content: flex-end;
}

.banner-area {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-area {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  color: white;
  font-weight: 450;
}

mat-icon {
  width: 4rem;
}
