<div class="titel">
  <p>{{'about-site.title' | translate}}</p>
</div>
<mat-divider></mat-divider>

<p [innerHTML]="'about-site.line1' | translate"></p>
<div class="text-center">
  <a href="https://gitlab.com/demo698/eugen.michaels">https://gitlab.com/demo698/eugen.michaels</a>
</div>
<p [innerHTML]="'about-site.line2' | translate"></p>

<div class="content-center">
  <mat-card class="stack-card" *ngFor="let item of items">
    <mat-card-header>
      <img mat-card-avatar [src]="item.image">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.descr | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{item.text | translate }}</mat-card-content>
  </mat-card>
</div>