/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center {
  text-align: center;
}

.content-center {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: .5rem 0;
}

.titel {
  font-weight: bold;
  text-align: center;
}