<div mat-dialog-title>
  <mat-icon *ngIf="isSuccess" class="success">mark_email_read</mat-icon>
  <mat-icon *ngIf="!isSuccess" class="error">error_outline</mat-icon>
  <span>{{'dialog.title' | translate}}</span>
</div>

<div mat-dialog-content>
  <p *ngIf="isSuccess" [innerHTML]="'dialog.success' | translate"></p>
  <p *ngIf="!isSuccess" [innerHTML]="'dialog.error' | translate"></p>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'dialog.close' | translate}}</button>
</div>
