.mat-mdc-dialog-title {
  display: flex;
  align-items: center;

  span {
    padding-left: 1rem;
  }
}

.mat-mdc-dialog-content {
  padding-top: 1rem;
  height: 7rem;
}

.success {
  color: #3C8500;
}

.error {
  color: #991700;
}
